@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.logo{
   height: 90px;
width: 100px;
/* border: 2px solid ;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;*/
margin-left: 20px; 
margin-top: 4px;
/* background-color: #d5d4d0; */
}

.body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background: #d5d4d0;
    
}
.nav{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    font-family: Poppins ;
    
    
}

.list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
   margin-right: 100px;
   font-size: 4rem;
   
}

.listitem{
    margin: 30px;
    font-size: 17px;
    font-family: Poppins ;
    transition: transform 400ms;
}

.listitem:hover{
    color: #fff;
    /* background-color: rgb(26, 25, 25); */
    border-radius: 2px;
    transform: scale(1.08);
}

.cartrow{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    
}

.cartrowitem{
    margin-right: 40px;
    padding: 6px;
    height: 2.5rem;
    background-color: #fff;
    border: solid #fff;
    border-radius: 6px;
    font-family: Poppins ;
    
    
}

.icon{
    height: 22px;
    width: 25px;
    margin-top: 10px;
    margin-right: 5px;
}


