@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.Products{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    /* height: 20rem; */
    
}

.prod1{
margin-bottom: 0.625rem;

}
.prod2{
    margin-top: 1.25rem;

}
.prod3{
/* margin-bottom: 140px; */
    margin-top: 9.375rem;
 
}
.prod4{
    margin-top: 12.5rem;
    margin-bottom: 1.25rem ;

}
.para{
    display: flex;
    flex-direction: row;
justify-content: center;
margin-top: 12rem;
font-family:'Times New Roman', Times, serif; 
font-size: 3rem;
font-weight: 500;
margin-left: 4rem;
}

.p2{
    font-family:'Times New Roman', Times, serif; 
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-left: 4rem;
    font-family: Poppins;
    font-weight: lighter;
    color: #696969;
}

.p1{
font-family:'Times New Roman', Times, serif; 
font-size: 1.4rem;
margin-top: 4rem;
font-family: Poppins;
font-weight: lighter;
color: #696969;
/* margin-left: 6rem; */

}

.Products2{
    display: none;
}
.para3{
    display: flex;
    flex-direction: row;
justify-content: center;
margin-top: 10rem;
font-family:'Times New Roman', Times, serif; 
font-size: 2.9rem;
font-weight: 500;
margin-left: 4rem;
}

.about{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
   margin-top: 13rem;
   margin-bottom: 8rem;
   /* background-color: #fff; */

}


.about1{
    font-family:'Times New Roman', Times, serif;
font-size: 2.5rem;
font-weight: 900;
line-height: 1.25rem;

}

.about2{
    font-size: 1.06rem;
font-family: Poppins ;
    text-align: center;
   width: 100%;
   height: 3.75rem;
   color: #fff;
   text-shadow: 2px 1px 16px rgba(0,0,0,0.6);
}

.para2{
    display: flex;
    flex-direction: row;
justify-content: center;
    font-family:'Times New Roman', Times, serif; 
font-size: 3rem;
font-weight: 500;
margin-top: 11.87rem;

}

.ourproducts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    padding: 1.25rem;
    font-size: 4rem;
    margin-top: 10rem;
    color: #808080;
}
@media screen and (max-width: 760px){
    .Products{
      display: none;
    }
    
    .ourproducts{
    color: #808080;
        padding: 0.25rem;
        font-size: 3rem;
        margin-top: 5rem;}

    .Products2{
        display: flex;
        flex-direction: column;
    }

.prod1{
    margin-top: 6rem;
margin-bottom: 0.625rem;

}
.prod2{
    margin-top: 6rem;
    margin-bottom: 3.625rem;

}
.prod3{
    margin-top: 6rem;
    margin-bottom: 2.625rem;

}
.prod4{
    margin-top: 6rem;

}

.para{
margin-top: 3rem;
font-family:'Times New Roman', Times, serif; 
font-size: 2rem;
font-weight: 500;
margin-left: 3rem;
}

.p2{
 color: #696969;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 3rem;
}

.p1{
font-size: 1rem;
margin-top: 2rem;
margin-left: 3rem;
color: #696969;

}

.para3{
margin-top: 3rem; 
font-size: 2rem;
font-weight: 500;
margin-left: 3rem;
}

.about{
   margin-top: 8rem;
   margin-bottom: 4rem;
   
}


.about1{
font-size: 2.6rem;
font-weight: 900;
line-height: 0.7rem;

}

.about2{
    font-size: 0.8rem;
    color: rgb(71, 69, 69);
    color: #fff;
    text-shadow: 2px 1px 16px rgba(0,0,0,0.6);
}

.para2{
font-size: 2rem;
font-weight: 500;
margin-top: 6rem;
margin-left: 3rem;
}

}